html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  display: block; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  outline: none; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  border-radius: 0; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a img {
  border: none;
  outline: none; }

img {
  display: block;
  max-width: 100%; }

html {
  font-size: 10px; }
  @media (max-width: 1240px) {
    html {
      font-size: 0.80645vw; } }
  @media (max-width: 767px) {
    html {
      font-size: 1.33333vw; } }

h2 {
  text-transform: uppercase;
  font-weight: 400; }
  @media (min-width: 768px) {
    h2 {
      font-size: 2.6rem; } }
  @media (max-width: 767px) {
    h2 {
      font-size: 2.6rem; } }
  @media (min-width: 768px) {
    h2 {
      line-height: 4rem; } }
  @media (max-width: 767px) {
    h2 {
      line-height: 4rem; } }

.l {
  display: block;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
  width: 100%;
  max-width: 1240px;
  padding: 0 5rem; }
  .l:after, .l:before {
    content: "";
    display: table; }
  .l:after {
    clear: both; }
  @media (max-width: 767px) {
    .l {
      padding: 0 1.2rem; } }

.c-btn {
  text-align: center;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  border: none;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  background-color: #87e2c3;
  padding: 1.8rem 3rem; }
  @media (min-width: 768px) {
    .c-btn {
      font-size: 1.7rem; } }
  @media (max-width: 767px) {
    .c-btn {
      font-size: 1.7rem; } }

.c-logo {
  float: left; }

.c-line, .b-3__title, .b-4__title {
  position: relative;
  padding-bottom: 2.5rem; }
  .c-line:after, .b-3__title:after, .b-4__title:after {
    content: '';
    height: 1px;
    background-color: #000;
    width: 10rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

.c-nav-header {
  transition: 0.4s; }
  @media (max-width: 767px) {
    .c-nav-header {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      background-color: #3BA883;
      text-align: center;
      padding-top: 6rem;
      height: 100%;
      opacity: 0; } }
  @media (min-width: 768px) {
    .c-nav-header {
      display: inline-block; } }
  .c-nav-header.active {
    right: 0;
    opacity: 1; }
  @media (max-width: 767px) {
    .c-nav-header__item {
      padding: 2rem 2%; } }
  @media (min-width: 768px) {
    .c-nav-header__item {
      display: inline-block;
      margin-right: 3.2rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .c-nav-header__item {
      margin-right: 1.2rem; } }
  @media (min-width: 768px) {
    .c-nav-header__item--log {
      position: relative;
      margin-left: 3rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .c-nav-header__item--log {
      margin-left: 1.2rem; } }
  .c-nav-header__item--log:before {
    width: 1px;
    height: 2.6rem;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: -3rem;
    bottom: -.4rem; }
    @media (min-width: 768px) {
      .c-nav-header__item--log:before {
        content: ''; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .c-nav-header__item--log:before {
        left: -1.2rem; } }
  .c-nav-header__link {
    color: #fff; }
    @media (min-width: 768px) {
      .c-nav-header__link {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .c-nav-header__link {
        font-size: 1.4rem; } }
    @media (min-width: 768px) {
      .c-nav-header__link {
        line-height: 1.8rem; } }
    @media (max-width: 767px) {
      .c-nav-header__link {
        line-height: 1.8rem; } }
    @media (max-width: 767px) {
      .c-nav-header__link {
        text-transform: uppercase; } }
  .c-nav-header__close {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 2rem; }
    .c-nav-header__close:after, .c-nav-header__close:before {
      content: '';
      width: 0.3rem;
      height: 3rem;
      background-color: #fff;
      position: absolute;
      display: block;
      top: 0;
      left: 50%; }
    .c-nav-header__close:before {
      transform: rotate(45deg); }
    .c-nav-header__close:after {
      transform: rotate(-45deg); }
    @media (min-width: 768px) {
      .c-nav-header__close {
        display: none; } }

@media (max-width: 767px) {
  .c-nav-footer {
    float: left;
    width: 80%;
    padding-left: 4%;
    margin-bottom: .7rem; } }

@media (min-width: 768px) {
  .c-nav-footer {
    display: inline-block;
    vertical-align: -1rem;
    margin-left: 2.5rem; } }

@media (max-width: 767px) {
  .c-nav-footer__item {
    margin-bottom: 1.2rem; } }

@media (min-width: 768px) {
  .c-nav-footer__item {
    display: inline-block;
    margin-right: 3.2rem; }
    .c-nav-footer__item:last-of-type {
      margin-right: 0; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .c-nav-footer__item {
    margin-right: 1rem; } }

.c-nav-footer__link {
  color: #3BA883; }
  @media (min-width: 768px) {
    .c-nav-footer__link {
      font-size: 1.4rem; } }
  @media (max-width: 767px) {
    .c-nav-footer__link {
      font-size: 1.4rem; } }
  @media (min-width: 768px) {
    .c-nav-footer__link {
      line-height: 1.8rem; } }
  @media (max-width: 767px) {
    .c-nav-footer__link {
      line-height: 1.8rem; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .c-nav-footer__link {
      font-size: 1.4vw; } }

.c-newsletter {
  zoom: 1;
  margin-top: 1.7rem; }
  .c-newsletter:after, .c-newsletter:before {
    content: "";
    display: table; }
  .c-newsletter:after {
    clear: both; }
  .c-newsletter input {
    display: block;
    outline: none;
    border-radius: 5px;
    border: none;
    width: 84%;
    padding: 1.2rem 1.7rem;
    margin-bottom: 1.2rem; }
    @media (min-width: 768px) {
      .c-newsletter input {
        width: 91%; } }
  .c-newsletter .hp-btn {
    padding: 1.2rem 2.2rem;
    margin-bottom: 0; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list,
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:after, .slick-track:before {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  outline: none;
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.b-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: right;
  transition: 0.5s; }
  .b-header.active {
    background-color: #fff;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.27); }
    .b-header.active .hp-btn {
      color: #3BA883; }
    .b-header.active .b-header__hamb__span {
      background-color: #3BA883; }
    .b-header.active .b-header__logo__sec {
      opacity: 1; }
    @media (min-width: 768px) {
      .b-header.active .c-nav-header__link {
        color: #3BA883; } }
    @media (min-width: 768px) {
      .b-header.active .hp-btn {
        background-color: #fff;
        border-color: #3BA883; } }
    .b-header.active .c-nav-header__item--log:before {
      background-color: #3BA883; }
  .b-header__body {
    padding: 2.2rem 1.7rem; }
    @media (min-width: 768px) {
      .b-header__body {
        padding: 1.3rem 5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 1240px; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .b-header__body {
        padding: 1.3rem 2rem; } }
  .b-header__logo {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    float: left; }
    @media (max-width: 767px) {
      .b-header__logo {
        width: 12.7rem;
        height: 2.4rem;
        top: -.4rem; } }
    @media (min-width: 768px) {
      .b-header__logo {
        width: 15.5%;
        height: 3.3rem;
        top: .4rem; } }
    .b-header__logo img {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 0.5s; }
    .b-header__logo__sec {
      opacity: 0; }
  .b-header .hp-btn {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s; }
    @media (max-width: 767px) {
      .b-header .hp-btn {
        padding: 0;
        background-color: transparent;
        color: #fff;
        border: none; } }
    @media (min-width: 768px) {
      .b-header .hp-btn {
        padding: 1.2rem; } }
  .b-header__hamb {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2rem; }
    @media (min-width: 768px) {
      .b-header__hamb {
        display: none; } }
  .b-header__hamb__span {
    display: block;
    width: 2.4rem;
    height: .2rem;
    background-color: #fff;
    margin-bottom: .5rem;
    transition: 0.5s; }
    .b-header__hamb__span:last-of-type {
      margin-bottom: 0; }

.b-footer {
  background-color: #F2F2F2; }
  @media (max-width: 767px) {
    .b-footer {
      padding-top: 2rem; } }
  @media (min-width: 768px) {
    .b-footer {
      padding-bottom: 2.5rem; } }
  @media (max-width: 767px) {
    .b-footer .l {
      padding: 0; } }
  .b-footer__top {
    zoom: 1;
    border-bottom: 1px solid #fff; }
    .b-footer__top:after, .b-footer__top:before {
      content: "";
      display: table; }
    .b-footer__top:after {
      clear: both; }
    @media (min-width: 768px) {
      .b-footer__top {
        padding: 2rem 0; } }
  @media (max-width: 767px) {
    .b-footer__lang {
      float: right;
      margin-right: 4%; } }
  @media (min-width: 768px) {
    .b-footer__lang {
      display: inline-block;
      vertical-align: -.8rem; } }
  .b-footer__lang__flag {
    width: 3rem;
    height: 2rem;
    background: white;
    display: inline-block;
    vertical-align: middle; }
  .b-footer__lang__arrow {
    display: inline-block;
    position: relative;
    height: 0.75rem;
    width: 0.75rem;
    cursor: pointer;
    margin-left: .5rem;
    display: inline-block;
    vertical-align: middle; }
    .b-footer__lang__arrow:after {
      content: '';
      direction: ltr;
      width: 0.5rem;
      height: 0.5rem;
      border-right: 1px solid #979797;
      border-bottom: 1px solid #979797;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: rotate(45deg);
      bottom: 35%; }
  @media (max-width: 767px) {
    .b-footer__top__right {
      border-top: 1px solid #fff;
      clear: both;
      overflow: hidden;
      padding: 6%; } }
  @media (min-width: 768px) {
    .b-footer__top__right {
      float: right;
      padding-right: 1.3rem; } }
  .b-footer__copy {
    color: #515151; }
    @media (min-width: 768px) {
      .b-footer__copy {
        font-size: 1.2rem; } }
    @media (max-width: 767px) {
      .b-footer__copy {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .b-footer__copy {
        line-height: 1.5rem; } }
    @media (max-width: 767px) {
      .b-footer__copy {
        line-height: 1.5rem; } }
    @media (max-width: 767px) {
      .b-footer__copy {
        float: left;
        margin-left: 1.2rem;
        margin-top: 0.4rem; } }
    @media (min-width: 768px) {
      .b-footer__copy {
        display: inline-block;
        margin-right: 2.2rem;
        margin-top: 0.2rem; } }
  @media (max-width: 767px) {
    .b-footer__payment {
      float: left; } }
  @media (min-width: 768px) {
    .b-footer__payment {
      float: right; } }
  .b-footer__payment__card {
    display: inline-block;
    width: 3rem;
    height: 2rem;
    background: white;
    margin-right: 1rem; }
    @media (min-width: 768px) {
      .b-footer__payment__card {
        margin-right: .5rem; } }
    .b-footer__payment__card:last-of-type {
      margin-right: 0; }
  .b-footer__bottom {
    padding: .4rem 0; }
    @media (min-width: 768px) {
      .b-footer__bottom {
        zoom: 1;
        padding-top: 2.3rem; }
        .b-footer__bottom:after, .b-footer__bottom:before {
          content: "";
          display: table; }
        .b-footer__bottom:after {
          clear: both; } }
  @media (max-width: 767px) {
    .b-footer__col {
      padding: 0 4%;
      padding-top: 1.3rem;
      margin-bottom: 1.3rem; } }
  @media (min-width: 768px) {
    .b-footer__col {
      float: left;
      width: 23.875%;
      margin-right: 1.5%;
      margin-bottom: 1.5%; }
      .b-footer__col:nth-child(4n) {
        margin-right: 0; }
      .b-footer__col:nth-child(4n + 1) {
        clear: both; } }
  @media (max-width: 767px) {
    .b-footer__col--socials {
      border-top: 1px solid #fff; } }
  @media (max-width: 767px) {
    .b-footer__col--socials .b-footer__info__title {
      width: 0;
      height: 0;
      position: absolute;
      left: 0;
      text-indent: -5000px;
      overflow: hidden; } }
  .b-footer__info {
    color: #515151; }
    @media (min-width: 768px) {
      .b-footer__info {
        font-size: 1.2rem; } }
    @media (max-width: 767px) {
      .b-footer__info {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .b-footer__info {
        line-height: 1.5rem; } }
    @media (max-width: 767px) {
      .b-footer__info {
        line-height: 1.5rem; } }
  .b-footer__info__title {
    text-transform: uppercase;
    margin-bottom: .8rem; }
    @media (min-width: 768px) {
      .b-footer__info__title {
        font-weight: 400; } }
  .b-footer__info__txt {
    margin-bottom: 1.5rem; }
  @media (max-width: 767px) {
    .b-footer__social {
      text-align: center; } }
  @media (min-width: 768px) {
    .b-footer__social {
      margin-top: 1.5rem; } }
  .b-footer__social__item {
    display: inline-block;
    width: 4.1rem;
    height: 4.1rem;
    background-color: #fff;
    margin-right: 1rem; }
    .b-footer__social__item:last-of-type {
      margin-right: 0; }

.b-hero {
  position: relative;
  text-align: center;
  font-weight: 700;
  color: #fff; }
  .b-hero__media {
    background-color: #000; }
    .b-hero__media img {
      opacity: .7; }
  .b-hero__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 45rem; }
  .b-hero__title {
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .b-hero__title {
        font-size: 4.8rem; } }
    @media (max-width: 767px) {
      .b-hero__title {
        font-size: 4.8rem; } }
  .b-hero__intro {
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .b-hero__intro {
        font-size: 1.6rem; } }
    @media (max-width: 767px) {
      .b-hero__intro {
        font-size: 1.6rem; } }
    @media (min-width: 768px) {
      .b-hero__intro {
        line-height: 2.4rem; } }
    @media (max-width: 767px) {
      .b-hero__intro {
        line-height: 2.4rem; } }
    .b-hero__intro span {
      display: block;
      margin-bottom: 2rem; }

.b-2 {
  zoom: 1;
  text-align: center;
  background-color: #e7e7e7;
  padding: 3rem 0 5rem; }
  .b-2:after, .b-2:before {
    content: "";
    display: table; }
  .b-2:after {
    clear: both; }
  @media (min-width: 768px) {
    .b-2__article {
      float: left;
      width: 22%;
      margin-right: 4%;
      margin-bottom: 4%;
      margin-bottom: 0; }
      .b-2__article:nth-child(4n) {
        margin-right: 0; }
      .b-2__article:nth-child(4n + 1) {
        clear: both; } }
  .b-2__articles {
    zoom: 1; }
    .b-2__articles:after, .b-2__articles:before {
      content: "";
      display: table; }
    .b-2__articles:after {
      clear: both; }
  .b-2__article__ico {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    height: 8rem;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 1rem; }
  .b-2__article__title {
    margin-bottom: 1.5rem; }
    @media (min-width: 768px) {
      .b-2__article__title {
        font-size: 1.6rem; } }
    @media (max-width: 767px) {
      .b-2__article__title {
        font-size: 1.6rem; } }
  @media (min-width: 768px) {
    .b-2__article__desc {
      font-size: 1.4rem; } }
  @media (max-width: 767px) {
    .b-2__article__desc {
      font-size: 1.4rem; } }
  @media (min-width: 768px) {
    .b-2__article__desc {
      line-height: 2rem; } }
  @media (max-width: 767px) {
    .b-2__article__desc {
      line-height: 2rem; } }

.b-3 {
  position: relative;
  background-color: #f0f0f0;
  text-align: center;
  padding: 4rem 0; }
  .b-3__txt {
    max-width: 53rem;
    margin: 0 auto; }
  .b-3__title {
    margin-bottom: 2.5rem; }
  .b-3__intro {
    color: gray; }
    @media (min-width: 768px) {
      .b-3__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .b-3__intro {
        font-size: 1.4rem; } }
    @media (min-width: 768px) {
      .b-3__intro {
        line-height: 2.3rem; } }
    @media (max-width: 767px) {
      .b-3__intro {
        line-height: 2.3rem; } }

.b-4 {
  zoom: 1;
  background-color: whitesmoke;
  text-align: center;
  padding: 2rem 0 3rem; }
  .b-4:after, .b-4:before {
    content: "";
    display: table; }
  .b-4:after {
    clear: both; }
  .b-4__title {
    margin-bottom: 3rem; }
  .b-4__article {
    color: gray; }
    @media (min-width: 768px) {
      .b-4__article {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .b-4__article {
        font-size: 1.4rem; } }
    @media (min-width: 768px) {
      .b-4__article {
        line-height: 2rem; } }
    @media (max-width: 767px) {
      .b-4__article {
        line-height: 2rem; } }
    @media (min-width: 768px) {
      .b-4__article {
        float: left;
        width: 45%;
        margin-right: 10%;
        margin-bottom: 10%;
        margin-bottom: 0; }
        .b-4__article:nth-child(2n) {
          margin-right: 0; }
        .b-4__article:nth-child(2n + 1) {
          clear: both; } }
    .b-4__articles {
      zoom: 1;
      padding: 0 5%; }
      .b-4__articles:after, .b-4__articles:before {
        content: "";
        display: table; }
      .b-4__articles:after {
        clear: both; }
    .b-4__article__ico {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10rem;
      height: 10rem;
      background-color: #fff;
      border-radius: 50%;
      margin-bottom: 2rem; }
    .b-4__article__title {
      font-weight: 700;
      margin-bottom: .3rem; }

.b-5 {
  position: relative;
  color: #fff;
  text-align: center; }
  .b-5__wrap {
    position: relative; }
  .b-5__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50rem; }
  .b-5__title {
    overflow: hidden;
    display: inline;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #000;
    margin-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .b-5__title {
        font-size: 2.8rem; } }
    @media (max-width: 767px) {
      .b-5__title {
        font-size: 2.8rem; } }
    @media (min-width: 768px) {
      .b-5__title {
        line-height: 3rem; } }
    @media (max-width: 767px) {
      .b-5__title {
        line-height: 3rem; } }
  .b-5__intro {
    display: block;
    margin: 2.5rem 0; }
    @media (min-width: 768px) {
      .b-5__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .b-5__intro {
        font-size: 1.4rem; } }
    @media (min-width: 768px) {
      .b-5__intro {
        line-height: 2rem; } }
    @media (max-width: 767px) {
      .b-5__intro {
        line-height: 2rem; } }

.b-6 {
  zoom: 1;
  padding: 4rem 0 2rem;
  text-align: center;
  background-color: white; }
  .b-6:after, .b-6:before {
    content: "";
    display: table; }
  .b-6:after {
    clear: both; }
  .b-6__title {
    margin-bottom: 1rem; }
  .b-6__article {
    height: 16.6rem;
    font-style: italic;
    text-align: center;
    color: dimgray;
    padding: 3.5rem 1rem;
    border: 1px solid dimgray; }
    @media (min-width: 768px) {
      .b-6__article {
        font-size: 1.6rem; } }
    @media (max-width: 767px) {
      .b-6__article {
        font-size: 1.6rem; } }
    @media (min-width: 768px) {
      .b-6__article {
        float: left;
        width: 31.33333%;
        margin-right: 3%;
        margin-bottom: 3%; }
        .b-6__article:nth-child(3n) {
          margin-right: 0; }
        .b-6__article:nth-child(3n + 1) {
          clear: both; } }
    .b-6__articles {
      zoom: 1; }
      .b-6__articles:after, .b-6__articles:before {
        content: "";
        display: table; }
      .b-6__articles:after {
        clear: both; }
    .b-6__article__desc {
      margin-bottom: 2rem; }
      @media (min-width: 768px) {
        .b-6__article__desc {
          line-height: 2.6rem; } }
      @media (max-width: 767px) {
        .b-6__article__desc {
          line-height: 2.6rem; } }

.b-7 {
  position: relative;
  color: #fff;
  font-weight: 700; }
  .b-7__wrap {
    position: relative; }
  .b-7__txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%; }
  .b-7__title {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    max-width: 30rem; }
    @media (min-width: 768px) {
      .b-7__title {
        font-size: 2.8rem; } }
    @media (max-width: 767px) {
      .b-7__title {
        font-size: 2.8rem; } }
    @media (min-width: 768px) {
      .b-7__title {
        line-height: 3.4rem; } }
    @media (max-width: 767px) {
      .b-7__title {
        line-height: 3.4rem; } }

.hp-btn {
  font-weight: 700;
  display: inline-block;
  color: #fff;
  background-color: #5CE59E;
  border: 1px solid #5CE59E;
  padding: 1.3rem 1.8rem;
  border-radius: 5px;
  margin-bottom: 3.5rem; }
  @media (min-width: 768px) {
    .hp-btn {
      font-size: 1.4rem; } }
  @media (max-width: 767px) {
    .hp-btn {
      font-size: 1.4rem; } }

.hp-hero {
  position: relative;
  color: #fff;
  text-align: center;
  margin-bottom: 6rem; }
  .hp-hero__media img {
    width: 100%; }
  .hp-hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 7%; }
    @media (max-width: 767px) {
      .hp-hero__content {
        width: 100%; } }
    @media (min-width: 768px) {
      .hp-hero__content {
        padding: 0 5%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .hp-hero__content {
        width: 80%; } }
  .hp-hero__title {
    margin-bottom: .8rem; }
    @media (min-width: 768px) {
      .hp-hero__title {
        font-size: 3.8rem; } }
    @media (max-width: 767px) {
      .hp-hero__title {
        font-size: 2.4rem; } }
    @media (min-width: 768px) {
      .hp-hero__title {
        line-height: 4.7rem; } }
    @media (max-width: 767px) {
      .hp-hero__title {
        line-height: 2.9rem; } }
  .hp-hero__intro {
    margin-bottom: 1.3rem; }
    @media (min-width: 768px) {
      .hp-hero__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-hero__intro {
        font-size: 1.4rem; } }
    @media (min-width: 768px) {
      .hp-hero__intro {
        line-height: 1.8rem; } }
    @media (max-width: 767px) {
      .hp-hero__intro {
        line-height: 1.8rem; } }
    @media (min-width: 768px) {
      .hp-hero__intro {
        max-width: 65%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.6rem; } }
  @media (max-width: 767px) {
    .hp-hero .hp-btn {
      min-width: 27.5rem;
      margin-bottom: 1.2rem; } }
  @media (min-width: 768px) {
    .hp-hero .hp-btn {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      min-width: 21rem;
      margin-left: 3rem;
      margin-right: 1rem; } }
  @media (min-width: 768px) {
    .hp-hero__play {
      display: inline-block;
      vertical-align: middle; } }
  .hp-hero__play__btn {
    position: relative;
    vertical-align: middle;
    width: 5.5rem;
    height: 4rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: 0.2rem solid #fff;
    margin-right: 1.5rem; }
    @media (max-width: 767px) {
      .hp-hero__play__btn {
        display: inline-block; } }
    @media (min-width: 768px) {
      .hp-hero__play__btn {
        display: table-cell; } }
  .hp-hero__play__btn__icon {
    width: 0;
    height: 0;
    display: inline-block;
    border: solid 0.8rem transparent;
    border-right: none;
    border-left: solid 0.8rem #fff;
    border-left: solid 1.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  @media (min-width: 768px) {
    .hp-hero__play__txt {
      display: inline-block;
      vertical-align: -0.6rem;
      width: 50%;
      text-align: left;
      padding-left: 2%; } }

.hp-choose {
  color: #000;
  text-align: center;
  margin-bottom: 3rem; }
  @media (max-width: 767px) {
    .hp-choose {
      padding-bottom: 3rem;
      border-bottom: 1px solid #D8D8D8; } }
  .hp-choose__title {
    color: #262626;
    margin-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .hp-choose__title {
        font-size: 3.8rem; } }
    @media (max-width: 767px) {
      .hp-choose__title {
        font-size: 2.6rem; } }
    @media (min-width: 768px) {
      .hp-choose__title {
        line-height: 4.7rem; } }
    @media (max-width: 767px) {
      .hp-choose__title {
        line-height: 3.2rem; } }
    @media (min-width: 768px) {
      .hp-choose__title {
        margin-bottom: 5.5rem; } }
  .hp-choose__list {
    zoom: 1; }
    .hp-choose__list:after, .hp-choose__list:before {
      content: "";
      display: table; }
    .hp-choose__list:after {
      clear: both; }
    @media (min-width: 768px) {
      .hp-choose__list {
        border-bottom: 1px solid #D8D8D8; } }
  .hp-choose__item {
    margin-bottom: 3rem; }
    @media (min-width: 768px) {
      .hp-choose__item {
        float: left;
        width: 31.33333%;
        margin-right: 3%;
        margin-bottom: 3%; }
        .hp-choose__item:nth-child(3n) {
          margin-right: 0; }
        .hp-choose__item:nth-child(3n + 1) {
          clear: both; } }
  .hp-choose__item__img {
    margin: 0 auto;
    margin-bottom: .8rem; }
    @media (max-width: 767px) {
      .hp-choose__item__img {
        max-width: 8rem; } }
    @media (min-width: 768px) {
      .hp-choose__item__img {
        margin-bottom: 1.5rem; } }
  .hp-choose__item__title {
    color: #262626;
    font-weight: 700;
    margin-bottom: .8rem; }
    @media (min-width: 768px) {
      .hp-choose__item__title {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-choose__item__title {
        font-size: 1.6rem; } }
    @media (min-width: 768px) {
      .hp-choose__item__title {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-choose__item__title {
        line-height: 1.9rem; } }
  .hp-choose__item__intro {
    color: #535353; }
    @media (min-width: 768px) {
      .hp-choose__item__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-choose__item__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-choose__item__intro {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-choose__item__intro {
        line-height: 1.6rem; } }

.hp-enjoy {
  color: #000;
  margin-bottom: 2rem; }
  @media (max-width: 767px) {
    .hp-enjoy {
      margin-bottom: .5rem; } }
  .hp-enjoy__body {
    display: block;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .hp-enjoy__body {
        max-width: 67%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .hp-enjoy__body {
        max-width: 95%; } }
  .hp-enjoy__title {
    color: #262626;
    text-align: center;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      .hp-enjoy__title {
        font-size: 3.8rem; } }
    @media (max-width: 767px) {
      .hp-enjoy__title {
        font-size: 2.6rem; } }
    @media (min-width: 768px) {
      .hp-enjoy__title {
        line-height: 4.7rem; } }
    @media (max-width: 767px) {
      .hp-enjoy__title {
        line-height: 3.2rem; } }
    @media (min-width: 768px) {
      .hp-enjoy__title {
        margin-bottom: 4.5rem; } }
  .hp-enjoy__list {
    zoom: 1; }
    .hp-enjoy__list:after, .hp-enjoy__list:before {
      content: "";
      display: table; }
    .hp-enjoy__list:after {
      clear: both; }
  @media (max-width: 767px) {
    .hp-enjoy__item {
      zoom: 1;
      margin-bottom: 2rem; }
      .hp-enjoy__item:after, .hp-enjoy__item:before {
        content: "";
        display: table; }
      .hp-enjoy__item:after {
        clear: both; } }
  @media (min-width: 768px) {
    .hp-enjoy__item {
      float: left;
      width: 44.5%;
      margin-right: 11%;
      margin-bottom: 11%;
      margin-bottom: 6rem; }
      .hp-enjoy__item:nth-child(2n) {
        margin-right: 0; }
      .hp-enjoy__item:nth-child(2n + 1) {
        clear: both; } }
  .hp-enjoy__item__img {
    float: left; }
    @media (max-width: 767px) {
      .hp-enjoy__item__img {
        width: 11.5%;
        margin-right: 3.5%; } }
    @media (min-width: 768px) {
      .hp-enjoy__item__img {
        width: 16.5%;
        margin-right: 8%; } }
  .hp-enjoy__item__intro {
    color: #535353;
    float: left; }
    @media (min-width: 768px) {
      .hp-enjoy__item__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-enjoy__item__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-enjoy__item__intro {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-enjoy__item__intro {
        line-height: 1.6rem; } }
    @media (max-width: 767px) {
      .hp-enjoy__item__intro {
        width: 85%; } }
    @media (min-width: 768px) {
      .hp-enjoy__item__intro {
        width: 75.5%; } }

.hp-comp {
  zoom: 1;
  color: #000;
  text-align: center; }
  .hp-comp:after, .hp-comp:before {
    content: "";
    display: table; }
  .hp-comp:after {
    clear: both; }
  @media (max-width: 767px) {
    .hp-comp {
      margin-bottom: 6rem; } }
  @media (min-width: 768px) {
    .hp-comp {
      margin-bottom: 8rem; } }
  @media (max-width: 767px) {
    .hp-comp.l {
      padding-right: 0; } }
  .hp-comp__title {
    color: #262626;
    font-weight: 700;
    margin-bottom: 1.2rem; }
    @media (min-width: 768px) {
      .hp-comp__title {
        font-size: 2.6rem; } }
    @media (max-width: 767px) {
      .hp-comp__title {
        font-size: 2.6rem; } }
    @media (min-width: 768px) {
      .hp-comp__title {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-comp__title {
        line-height: 3.2rem; } }
    @media (max-width: 767px) {
      .hp-comp__title {
        padding-right: 1.2rem; } }
  .hp-comp__intro {
    color: #535353;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    @media (min-width: 768px) {
      .hp-comp__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-comp__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-comp__intro {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-comp__intro {
        line-height: 1.6rem; } }
    @media (max-width: 767px) {
      .hp-comp__intro {
        margin-bottom: 2.2rem;
        padding-right: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-comp__intro {
        max-width: 47%;
        margin-bottom: 4.8rem; } }
  .hp-comp__list {
    zoom: 1; }
    .hp-comp__list:after, .hp-comp__list:before {
      content: "";
      display: table; }
    .hp-comp__list:after {
      clear: both; }
    @media (max-width: 767px) {
      .hp-comp__list {
        padding-left: 3.3%;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap; } }
  .hp-comp__item {
    display: inline-block; }
    @media (max-width: 767px) {
      .hp-comp__item {
        width: 8rem;
        margin-right: .9rem;
        display: inline-block; } }
    @media (min-width: 768px) {
      .hp-comp__item {
        width: 6.6%;
        margin-right: 1.7%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .hp-comp__item {
        width: 10%; } }
    .hp-comp__item:last-of-type {
      margin-right: 0; }
  .hp-comp__item__img {
    margin: 0 auto;
    margin-bottom: .5rem; }
  .hp-comp__item__title {
    color: #404040; }
    @media (min-width: 768px) {
      .hp-comp__item__title {
        font-size: 1rem; } }
    @media (max-width: 767px) {
      .hp-comp__item__title {
        font-size: 1rem; } }
    @media (min-width: 768px) {
      .hp-comp__item__title {
        line-height: 1.3rem; } }
    @media (max-width: 767px) {
      .hp-comp__item__title {
        line-height: 1.3rem; } }
    @media (max-width: 767px) {
      .hp-comp__item__title {
        white-space: normal; } }

.hp-nutr {
  color: #000;
  text-align: center;
  margin-bottom: 4rem; }
  @media (min-width: 768px) {
    .hp-nutr {
      margin-bottom: 8rem; } }
  .hp-nutr__title {
    color: #000;
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .hp-nutr__title {
        font-size: 3.8rem; } }
    @media (max-width: 767px) {
      .hp-nutr__title {
        font-size: 2.8rem; } }
    @media (min-width: 768px) {
      .hp-nutr__title {
        line-height: 4.7rem; } }
    @media (max-width: 767px) {
      .hp-nutr__title {
        line-height: 3.4rem; } }
    @media (min-width: 768px) {
      .hp-nutr__title {
        margin-bottom: 2rem; } }
  .hp-nutr__intro {
    color: #535353;
    margin-bottom: 3.7rem; }
    @media (min-width: 768px) {
      .hp-nutr__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-nutr__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-nutr__intro {
        line-height: 1.8rem; } }
    @media (max-width: 767px) {
      .hp-nutr__intro {
        line-height: 1.6rem; } }
    @media (min-width: 768px) {
      .hp-nutr__intro {
        margin-bottom: 3rem; } }
  .hp-nutr__list {
    zoom: 1; }
    .hp-nutr__list:after, .hp-nutr__list:before {
      content: "";
      display: table; }
    .hp-nutr__list:after {
      clear: both; }
  @media (max-width: 767px) {
    .hp-nutr__item {
      zoom: 1;
      margin-bottom: 1.7rem;
      display: table; }
      .hp-nutr__item:after, .hp-nutr__item:before {
        content: "";
        display: table; }
      .hp-nutr__item:after {
        clear: both; } }
  @media (min-width: 768px) {
    .hp-nutr__item {
      float: left;
      width: 32%;
      margin-right: 2%;
      margin-bottom: 2%; }
      .hp-nutr__item:nth-child(3n) {
        margin-right: 0; }
      .hp-nutr__item:nth-child(3n + 1) {
        clear: both; } }
  .hp-nutr__item__img {
    margin: 0 auto;
    border-radius: 50%; }
    @media (max-width: 767px) {
      .hp-nutr__item__img {
        display: table-cell;
        max-width: 8.2rem; } }
    @media (min-width: 768px) {
      .hp-nutr__item__img {
        margin-bottom: 1rem; } }
  @media (max-width: 767px) {
    .hp-nutr__item__content {
      display: table-cell;
      width: 70%;
      text-align: left;
      vertical-align: middle;
      padding-left: 1.5rem; } }
  @media (min-width: 768px) {
    .hp-nutr__item__content {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%; } }
  .hp-nutr__item__title {
    color: #262626;
    margin-bottom: .7rem; }
    @media (min-width: 768px) {
      .hp-nutr__item__title {
        font-size: 2rem; } }
    @media (max-width: 767px) {
      .hp-nutr__item__title {
        font-size: 1.8rem; } }
    @media (min-width: 768px) {
      .hp-nutr__item__title {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-nutr__item__title {
        line-height: 2.2rem; } }
    @media (min-width: 768px) {
      .hp-nutr__item__title {
        margin-bottom: .2rem; } }
  .hp-nutr__item__intro {
    color: #535353; }
    @media (min-width: 768px) {
      .hp-nutr__item__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-nutr__item__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-nutr__item__intro {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-nutr__item__intro {
        line-height: 1.8rem; } }

.hp-mosaic {
  color: #000;
  margin-bottom: .5rem; }
  @media (min-width: 768px) {
    .hp-mosaic {
      margin-bottom: 9rem; } }
  @media (max-width: 767px) {
    .hp-mosaic.l {
      padding: 0; } }
  .hp-mosaic__item {
    zoom: 1; }
    .hp-mosaic__item:after, .hp-mosaic__item:before {
      content: "";
      display: table; }
    .hp-mosaic__item:after {
      clear: both; }
    @media (max-width: 767px) {
      .hp-mosaic__item {
        margin-bottom: 6rem; } }
    @media (min-width: 768px) {
      .hp-mosaic__item {
        padding: 0 8.5%; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .hp-mosaic__item {
        padding: 0 2%; } }
    @media (min-width: 768px) {
      .hp-mosaic__item:nth-of-type(odd) .hp-mosaic__item__media {
        float: right; } }
  @media (max-width: 767px) {
    .hp-mosaic__item__media {
      margin-bottom: 2rem; } }
  @media (min-width: 768px) {
    .hp-mosaic__item__media {
      float: left;
      width: 50%; } }
  @media (max-width: 767px) {
    .hp-mosaic__item__media img {
      width: 100%; } }
  @media (max-width: 767px) {
    .hp-mosaic__item__content {
      display: inline-block;
      padding: 0 8%; } }
  @media (min-width: 768px) {
    .hp-mosaic__item__content {
      float: left;
      width: 50%;
      padding: 4.1% 5.1% 1%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .hp-mosaic__item__content {
      padding: 2% 2.5% .5%; } }
  .hp-mosaic__item__title {
    color: #262626; }
    @media (min-width: 768px) {
      .hp-mosaic__item__title {
        font-size: 3.8rem; } }
    @media (max-width: 767px) {
      .hp-mosaic__item__title {
        font-size: 2.6rem; } }
    @media (min-width: 768px) {
      .hp-mosaic__item__title {
        line-height: 4.4rem; } }
    @media (max-width: 767px) {
      .hp-mosaic__item__title {
        line-height: 3.2rem; } }
    @media (max-width: 767px) {
      .hp-mosaic__item__title {
        text-align: center;
        margin-bottom: 1rem; } }
    @media (min-width: 768px) {
      .hp-mosaic__item__title {
        margin-bottom: 2rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .hp-mosaic__item__title {
        font-size: 3vw;
        line-height: 4vw;
        margin-bottom: 1rem; } }
  .hp-mosaic__item__intro {
    color: #535353; }
    @media (min-width: 768px) {
      .hp-mosaic__item__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-mosaic__item__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-mosaic__item__intro {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-mosaic__item__intro {
        line-height: 1.6rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .hp-mosaic__item__intro {
        font-size: 1.4vw;
        line-height: 2vw; } }

.hp-members {
  overflow: hidden;
  color: #000;
  text-align: center;
  margin-bottom: 7.5rem; }
  @media (min-width: 768px) {
    .hp-members {
      margin-bottom: 7rem; } }
  @media (max-width: 767px) {
    .hp-members.l {
      padding-right: 0; } }
  .hp-members__body {
    padding: 0 1%; }
  .hp-members__title {
    margin-bottom: 2.5rem; }
    @media (min-width: 768px) {
      .hp-members__title {
        font-size: 2.6rem; } }
    @media (max-width: 767px) {
      .hp-members__title {
        font-size: 1.6rem; } }
    @media (min-width: 768px) {
      .hp-members__title {
        line-height: 2.4rem; } }
    @media (max-width: 767px) {
      .hp-members__title {
        line-height: 2.4rem; } }
    @media (min-width: 768px) {
      .hp-members__title {
        margin-bottom: 4rem; } }
  .hp-members__list {
    zoom: 1; }
    .hp-members__list:after, .hp-members__list:before {
      content: "";
      display: table; }
    .hp-members__list:after {
      clear: both; }
  .hp-members__item {
    border: 1px solid #d8d8d8;
    position: relative;
    padding: 3.2rem 1.2rem 2rem;
    border-radius: 7px; }
    @media (max-width: 767px) {
      .hp-members__item {
        margin-right: .6%; } }
    @media (min-width: 768px) {
      .hp-members__item {
        padding: 3.7rem 3rem 2rem;
        margin-right: 3.8rem; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .hp-members__item {
        padding: 3rem 1.5rem 1rem; } }
  .hp-members__item__media {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.5rem; }
  .hp-members__item__intro {
    color: #535353;
    margin-bottom: .4rem; }
    @media (min-width: 768px) {
      .hp-members__item__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-members__item__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-members__item__intro {
        line-height: 2.4rem; } }
    @media (max-width: 767px) {
      .hp-members__item__intro {
        line-height: 2rem; } }
    @media (min-width: 768px) {
      .hp-members__item__intro {
        margin-bottom: 1.3rem; } }
  .hp-members__item__author {
    font-weight: 700;
    color: #535353; }
    @media (min-width: 768px) {
      .hp-members__item__author {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-members__item__author {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-members__item__author {
        line-height: 2rem; } }
    @media (max-width: 767px) {
      .hp-members__item__author {
        line-height: 2rem; } }
  .hp-members .slick-list {
    padding-top: 2.6rem; }
    @media (max-width: 767px) {
      .hp-members .slick-list {
        padding-right: 12%; } }
    @media (min-width: 768px) {
      .hp-members .slick-list {
        margin-right: -3.8rem; } }

.hp-packaging {
  position: relative;
  color: #000;
  background-color: #ECFAF6;
  padding: 6.5rem 0 0;
  margin-bottom: 6.2rem; }
  @media (max-width: 767px) {
    .hp-packaging {
      text-align: center; } }
  @media (min-width: 768px) {
    .hp-packaging {
      padding: 0; } }
  .hp-packaging:after, .hp-packaging:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    z-index: 0; }
    @media (min-width: 768px) {
      .hp-packaging:after, .hp-packaging:before {
        height: 20%; } }
  .hp-packaging:before {
    top: 0; }
  .hp-packaging:after {
    bottom: 0; }
    @media (max-width: 767px) {
      .hp-packaging:after {
        height: 16%; } }
  @media (max-width: 767px) {
    .hp-packaging .l {
      padding: 0; } }
  .hp-packaging__body {
    position: relative;
    z-index: 1;
    zoom: 1; }
    .hp-packaging__body:after, .hp-packaging__body:before {
      content: "";
      display: table; }
    .hp-packaging__body:after {
      clear: both; }
  @media (max-width: 767px) {
    .hp-packaging__content {
      padding: 0 12%; } }
  @media (min-width: 768px) {
    .hp-packaging__content {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      padding: 0 8.5%; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .hp-packaging__content {
      padding: 0 4% 0 1%; } }
  .hp-packaging__title {
    font-weight: 700;
    color: #262626;
    margin-bottom: 1.5rem; }
    @media (min-width: 768px) {
      .hp-packaging__title {
        font-size: 3.8rem; } }
    @media (max-width: 767px) {
      .hp-packaging__title {
        font-size: 2.6rem; } }
    @media (min-width: 768px) {
      .hp-packaging__title {
        line-height: 4.7rem; } }
    @media (max-width: 767px) {
      .hp-packaging__title {
        line-height: 3.2rem; } }
  .hp-packaging__intro {
    color: #535353;
    margin-bottom: 1.8rem; }
    @media (min-width: 768px) {
      .hp-packaging__intro {
        font-size: 1.4rem; } }
    @media (max-width: 767px) {
      .hp-packaging__intro {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-packaging__intro {
        line-height: 1.8rem; } }
    @media (max-width: 767px) {
      .hp-packaging__intro {
        line-height: 1.6rem; } }
    @media (min-width: 768px) {
      .hp-packaging__intro {
        max-width: 80%; } }
  @media (min-width: 768px) {
    .hp-packaging__media {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      padding-right: 3.5%; } }
  .hp-packaging__media img {
    margin: 0 auto; }
    @media (max-width: 767px) {
      .hp-packaging__media img {
        width: 100%; } }

.hp-insta {
  color: #000;
  margin-bottom: 10rem; }
  @media (min-width: 768px) {
    .hp-insta {
      margin-bottom: 7rem; } }
  @media (max-width: 767px) {
    .hp-insta.l {
      padding-right: 0; } }
  .hp-insta__head {
    text-align: center; }
    @media (max-width: 767px) {
      .hp-insta__head {
        margin-bottom: 2rem;
        padding-right: 2rem; } }
    @media (min-width: 768px) {
      .hp-insta__head {
        margin-bottom: 2.5rem; } }
  .hp-insta__logo {
    display: inline-block;
    vertical-align: middle; }
    @media (max-width: 767px) {
      .hp-insta__logo {
        width: 3.2rem;
        margin-right: .7rem; } }
  .hp-insta__title {
    display: inline-block;
    vertical-align: middle; }
    @media (min-width: 768px) {
      .hp-insta__title {
        font-size: 3.8rem; } }
    @media (max-width: 767px) {
      .hp-insta__title {
        font-size: 2.8rem; } }
    @media (min-width: 768px) {
      .hp-insta__title {
        line-height: 4.7rem; } }
    @media (max-width: 767px) {
      .hp-insta__title {
        line-height: 3.4rem; } }
  .hp-insta__list {
    zoom: 1; }
    .hp-insta__list:after, .hp-insta__list:before {
      content: "";
      display: table; }
    .hp-insta__list:after {
      clear: both; }
  @media (max-width: 767px) {
    .hp-insta__item {
      margin-right: .7%; } }
  @media (min-width: 768px) {
    .hp-insta__item {
      float: left;
      width: 24.25%;
      margin-right: 1%;
      margin-bottom: 1%; }
      .hp-insta__item:nth-child(4n) {
        margin-right: 0; }
      .hp-insta__item:nth-child(4n + 1) {
        clear: both; } }
  @media (max-width: 767px) {
    .hp-insta__item__media {
      margin-bottom: 1.2rem; } }
  @media (min-width: 768px) {
    .hp-insta__item__media {
      margin-bottom: .9rem; } }
  .hp-insta__item__media img {
    border-radius: 7px; }
    @media (max-width: 767px) {
      .hp-insta__item__media img {
        width: 100%; } }
  .hp-insta__item__intro {
    color: #515151;
    margin-bottom: .4rem; }
    @media (min-width: 768px) {
      .hp-insta__item__intro {
        font-size: 1.2rem; } }
    @media (max-width: 767px) {
      .hp-insta__item__intro {
        font-size: 1rem; } }
    @media (min-width: 768px) {
      .hp-insta__item__intro {
        line-height: 1.6rem; } }
    @media (max-width: 767px) {
      .hp-insta__item__intro {
        line-height: 1.4rem; } }
  .hp-insta__item__bottom {
    margin-right: 1.5rem; }
    .hp-insta__item__bottom img {
      display: inline-block;
      vertical-align: middle; }
  .hp-insta__item__bottom__num {
    display: inline-block;
    vertical-align: middle; }
    @media (min-width: 768px) {
      .hp-insta__item__bottom__num {
        font-size: 1.2rem; } }
    @media (max-width: 767px) {
      .hp-insta__item__bottom__num {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .hp-insta__item__bottom__num {
        line-height: 2.2rem; } }
    @media (max-width: 767px) {
      .hp-insta__item__bottom__num {
        line-height: 2.2rem; } }
  @media (max-width: 767px) {
    .hp-insta .slick-list {
      padding: 0 11% 0 0; } }

/*# sourceMappingURL=vitamin.css.map */
