//----- Variables / Typography

//------FONT-FACE
// @include fontFace (FontName, fontFolder, 700, italic);

//------FONT FAMILY VARIBALE
// $fontDefault            : Arial, sans-serif;

// $ff == $font-family
$fontDefault            : Arial, sans-serif;
// $ff          : 'Hello-Type-Bold', $fontDefault;

//----- Font style
$fw-regular: 400;
$fw-bold: 700;

//----- Font size
$font-size-base         : 10px;

//------GLOBAL FONT SETTINGS
html {
  @include font-size-vw($font-size-base, $font-size-base);
}
body {
  //font-family: $fontDefault;
  //-webkit-font-smoothing: antialiased;
}

h1 {}
h2 {
    @include font-size(26px, 26px);
    @include line-height(40px, 40px);
    text-transform: uppercase;
    font-weight: $fw-regular;
}
a {}
p {}
