//----- Home Page / Block Members
.hp-members {
  overflow: hidden;
  color: $color-black;
  text-align: center;
  margin-bottom: 7.5rem;
  @include breakpoint(overPhone) {
    margin-bottom: 7rem;
  }

  &.l {
    @include breakpoint(phone) {
      padding-right: 0;
    }
  }

  &__body {
    padding: 0 1%;
  }
  &__title {
    @include font-size(16px, 26px);
    @include line-height(24px, 24px);
    margin-bottom: 2.5rem;
    @include breakpoint(overPhone) {
      margin-bottom: 4rem;
    }
  }
  &__list {
    @include clearfix;
  }
  &__item {
    border: 1px solid #d8d8d8;
    position: relative;
    padding: 3.2rem 1.2rem 2rem;
    @include vendor-prefixes(border-radius, 7px);
    @include breakpoint(phone) {
      margin-right: .6%;
    }
    @include breakpoint(overPhone) {
      // @include grid(3, 3.5%);
      padding: 3.7rem 3rem 2rem;
      margin-right: 1.9rem;
      margin-left: 1.9rem;
    }
    @include breakpoint(tablet) {
      padding: 3rem 1.5rem 1rem;
    }
  }
  &__item__media {
    @include absolute(center-horizontal);
    top: -2.5rem;
  }
  &__item__intro {
    color: #535353;
    @include font-size(12px, 14px);
    @include line-height(20px, 24px);
    margin-bottom: .4rem;
    @include breakpoint(overPhone) {
      margin-bottom: 1.3rem;
    }
  }
  &__item__author {
    font-weight: $fw-bold;
    color: #535353;
    @include font-size(12px, 14px);
    @include line-height(20px, 20px);
  }

  &__arrow {
    &--left {
      left: -4rem;
      @include arrow(2rem, .2rem, $color-black, left);
      @include absolute(center-vertical);
    }
    &--right {
      right: -4rem;
      @include arrow(2rem, .2rem, $color-black, right);
      @include absolute(center-vertical);
    }
  }

  .slick-list {
    padding-top: 2.6rem;
    @include breakpoint(phone) {
      // overflow: visible;
      padding-right: 12%;
    }
  }
}