//----- Home Page / Button style
.hp-btn {
  @include font-size(14px, 14px);
  font-weight: $fw-bold;
  display: inline-block;
  color: #fff;
  background-color: #5CE59E;
  border: 1px solid #5CE59E;
  padding: 1.3rem 1.8rem;
  @include vendor-prefixes(border-radius, 5px);
  margin-bottom: 3.5rem;
}
