body.account
	nav.account_nav
		background: $lightest-grey

		ul
			li
				float: left

				a
					display: inline-block
					font-size: 20px
					padding: 28px 40px
					color: $warm-grey
					text-decoration: none !important

				&:hover
					background: $lighter-grey

				&.active
					background: #fff
					color: $greyish-brown
					font-weight: $weight-semibold

	&.account-settings-basic
		form.account-form
			label
				span
					display: block
					font-weight: $weight-semibold
					margin: 30px 0 4px

@media all and (max-width: 1199px)
	body.account
		nav.account_nav
			ul
				li
					a
						padding: 28px 28px
