body.cms
	h1.cms-title
		font-size: 50px
		font-weight: $weight-semibold
		margin: 0 0 10px
		text-align: center

	h2.cms-title
		font-weight: $weight-default
		font-size: 30px
		margin: 0
		text-align: center

	.cms-title-separator
		margin-bottom: 50px

	.img-responsive
		max-width: 100%
		height: auto
		display: block

		&.pull-left
			margin-right: 30px
			margin-bottom: 30px

		&.pull-right
			margin-left: 30px
			margin-bottom: 30px

	article
		ul
			line-height: 1.6
			list-style: disc
			padding-left: 30px

		ol
			line-height: 1.6
			list-style: decimal
			padding-left: 30px


		h2
			margin-top: 0 !important

@media all and (max-width: 991px)
	.no-top-margin-mobile
		margin-top: 20px !important

body.cms-layout-plain

body.cms-layout-header
	header.header--with-bg
		max-height: 800px
		height: 65vh
		min-height: 400px
		margin: 0
		position: relative

		h1
			color: #fff
			margin: 12vh 0 20px

		h2
			color: #fff

		.cta
			background: rgba($main-green,0.75)
			width:      100%
			position:   absolute
			left:       0
			bottom:     0
			color:      #fff
			text-align: center
			padding:    30px 15px
			font-size:  26px
			transition: background 300ms

			a
				color: #fff
				text-decoration: underline

			&.cta--sticky
				position: fixed
				top: 0
				bottom: auto
				background: rgba($main-green,0.95)
				z-index: 150

@media all and (max-width: 991px)
	body.cms
		article
			h2
				margin-top: 20px !important

@media all and (max-width: 767px)
	body.cms-layout-header
		header.header--with-bg
			max-height: 800px
			height: 65vh
			min-height: 400px
			margin: 0

			h1
				font-size: 40px
				margin: 10vh 0 20px

			h2
				font-size: 26px