body.page-flow
	height: 100%
	.datepicker-container-block
		display: inline-block

	.flow-container
		h3.substep-title
			font-weight: normal
			font-size: 26px
			color: $greyish-brown
			margin: 20px 0 30px

		p.substep-explanation
			font-weight: normal
			font-size: 14px
			line-height: 1.3
			color: $warm-grey
			margin: 30px 0 0

		.step
			display: none
			position: relative
			min-height: 50vh
			overflow: hidden

			&.step--active
				display: block

			.sub_step
				position: absolute
				text-align: center
				background: #fff
				border-radius: 4px
				width: 80%
				left: 10%
				transform: translateX(100%)
				opacity: 0
				animation-fill-mode: both
				animation-duration: 200ms

				&.sub_step--active
					transform: translateX(0) scale(1)
					opacity: 1

				&.sub_step--active-animated
					animation-name: step_slideIn

				&.sub_step--prev
					animation-name: step_slideInPrev

				&.sub_step--out-animated
					animation-name: step_slideOut

				&.sub_step--slideout-prev
					animation-name: step_slideOutPrev

			label
				position: relative
				cursor: pointer
				padding: 15px
				background: #f9f9f9
				border-radius: 4px
				display: inline-block
				margin-right: 10px
				margin-bottom: 10px
				font-weight: 600
				min-width: 110px
				border: 1px solid #ddd
				-webkit-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none

				&:after
					content: ''
					display: block
					width: 80%
					height: 5px
					background: transparent
					margin: 0 auto
					left: 10%
					bottom: 3px
					position: absolute
					box-shadow: 0 0 13px rgba(0, 0, 0, .5)
					z-index: -1

				.icon
					margin-bottom: 10px

				&:last-of-type
					margin-right: 0

				&.flow_label_noclick
					.icon
						margin: 0

				&:hover
					background: #e5e5e5
					border: 1px solid #ccc

				input[type="radio"]
					display: none

.flow-step-back
	margin: 20px 0

	a
		opacity: 0
		cursor: not-allowed
		padding: 10px
		display: inline-block
		color: #aaa

	&.clickable
		a
			opacity: 1
			cursor: pointer

.flow-progress
	text-align: center
	background: $pale-grey
	//border-top: 1px solid $pale-grey-border
	border-bottom: 1px solid $pale-grey-border
	font-size: 0

	.hamburger
		display: none

	.flow-step
		background: $white
		height: 66px
		padding: 27px 50px 23px
		display: inline-block
		text-align: center
		border-right: 1px solid $pale-grey-border

		&:first-of-type
			border-left: 1px solid $pale-grey-border

		.flow-step-check
			display: none

		.flow-step-progress
			margin-right: 12px
			width: 26px
			height: 2px
			display: inline-block
			vertical-align: middle
			background: $lighter-grey
			transition: width 300ms

			.flow-step-progress-bar
				background: $main-green
				height: 2px
				display: block
				transition: width 300ms

		.flow-step-title
			display: inline-block
			vertical-align: middle
			font-weight: 600
			font-size: 14px
			letter-spacing: 1px
			color: $warm-grey

		&.flow-step--inactive
			background: transparent

			.flow-step-progress
				background: #aaa
				width: 2px

				.flow-step-progress-bar
					display: none

			.flow-step-title
				color: $greyish

		&.flow-step--completed
			background: #fff
			background: linear-gradient(to right, transparent 33%, rgba($main-green, .4) 50%, #fff 66%)
			background-size: 300% 100%
			animation-name: flow_step_success
			animation-duration: 500ms
			animation-iteration-count: 1

			.flow-step-title
				color: $warm-grey

			.flow-step-progress
				display: none

			.flow-step-check
				margin-right: 12px
				display: inline-block
				display: inline-block
				position: relative

@keyframes flow_step_success
	0%
		background-position: right bottom

	100%
		background-position: left bottom

@keyframes step_slideOut
	0%
		transform: translateX(0) scale(1)
		opacity: 1

	100%
		transform: translateX(-100%) scale(0.8)
		opacity: 0
		filter: blur(10px)

@keyframes step_slideOutPrev
	0%
		transform: translateX(0) scale(1)
		opacity: 1

	100%
		transform: translateX(100%) scale(0.8)
		opacity: 0
		filter: blur(10px)

@keyframes step_slideIn
	0%
		transform: translateX(100%) scale(0.8)
		opacity: 0
		filter: blur(10px)

	100%
		transform: translateX(0) scale(1)
		opacity: 1

@keyframes step_slideInPrev
	0%
		transform: translateX(-100%) scale(0.8)
		opacity: 0
		filter: blur(10px)

	100%
		transform: translateX(0) scale(1)
		opacity: 1

@media all and (max-width: 991px)
	body.page-flow
		footer
			.footer_column--newsletters
				display: none

		.datepicker-container-block
			display: block

		.flow-progress
			border-bottom: none !important
			border-top: 1px solid $pale-grey-border
			position: relative

			#flow-toggler
				padding: 15px
				position: absolute
				right: 15px
				top: 12px
				cursor: pointer
				border-radius: 4px
				user-select: none

				&:hover
					background: #eee

				&.toggled
					.icon-arrow-down-lines
						transform: rotate(180deg)

				.icon-arrow-down-lines
					display: inline-block

			.flow-step
				width: 100%
				overflow: hidden
				display: block
				padding: 25px 15px
				border-right: none !important
				border-left: none !important
				border-bottom: 1px solid $pale-grey-border
				text-align: left
				-webkit-transition: height 200ms, padding 200ms, border 200ms, font-size 200ms
				transition: height 200ms, padding 200ms, border 200ms, font-size 200ms

				&.flow-step--inactive
					.flow-step-progress
						display: none

			&.flow-progress--closed
				.flow-step
					&.flow-step--inactive
						height: 0
						padding-top: 0
						padding-bottom: 0
						font-size: 0
						border: none

		.flow-container
			.step
				min-height: 60vh

				.sub_step
					width: 100%
					left: 0

					.sub_step_answers
						-webkit-overflow-scrolling: touch
						overflow: visible
						overflow-x: scroll
						padding: 10px
						white-space: nowrap

						label
							min-width: 40%