@font-face
	font-family: 'Montserrat'
	src: url('/fonts/Montserrat-Light.eot')
	src: local("Montserrat Light"), local("Montserrat-Light"), url('/fonts/Montserrat-Light.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-Light.woff') format("woff"), url('/fonts/Montserrat-Light.ttf') format("truetype"), url('/fonts/Montserrat-Light.otf') format("otf")
	font-weight: 200
	font-style: normal


//@font-face
//	font-family: 'Montserrat Extra'
//	src: url('/fonts/Montserrat-ExtraBold.eot')
//	src: local("Montserrat Extra Bold"), local("Montserrat-ExtraBold"), url('/fonts/Montserrat-ExtraBold.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-ExtraBold.woff') format("woff"), url('/fonts/Montserrat-ExtraBold.ttf') format("truetype"), url('/fonts/Montserrat-ExtraBold.otf') format("otf")
//	font-weight: 800
//	font-style: normal


//@font-face
//	font-family: 'Montserrat'
//	src: url('/fonts/Montserrat-Black.eot')
//	src: local("Montserrat Black"), local("Montserrat-Black"), url('/fonts/Montserrat-Black.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-Black.woff') format("woff"), url('/fonts/Montserrat-Black.ttf') format("truetype"), url('/fonts/Montserrat-Black.otf') format("otf")
//	font-weight: 900
//	font-style: normal


@font-face
	font-family: 'Montserrat'
	src: url('/fonts/Montserrat-Bold.eot')
	src: local("Montserrat Bold"), local("Montserrat-Bold"), url('/fonts/Montserrat-Bold.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-Bold.woff') format("woff"), url('/fonts/Montserrat-Bold.ttf') format("truetype"), url('/fonts/Montserrat-Bold.otf') format("otf")
	font-weight: bold
	font-style: normal


//@font-face
//	font-family: 'Montserrat Ultra'
//	src: url('/fonts/Montserrat-UltraLight.eot')
//	src: local("Montserrat Ultra Light"), local("Montserrat-UltraLight"), url('/fonts/Montserrat-UltraLight.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-UltraLight.woff') format("woff"), url('/fonts/Montserrat-UltraLight.ttf') format("truetype"), url('/fonts/Montserrat-UltraLight.otf') format("otf")
//	font-weight: 200
//	font-style: normal


@font-face
	font-family: 'Montserrat'
	src: url('/fonts/Montserrat-Regular.eot')
	src: local("Montserrat Regular"), local("Montserrat-Regular"), url('/fonts/Montserrat-Regular.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-Regular.woff') format("woff"), url('/fonts/Montserrat-Regular.ttf') format("truetype"), url('/fonts/Montserrat-Regular.otf') format("otf")
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'Montserrat'
	src: url('/fonts/Montserrat-SemiBold.eot')
	src: local("Montserrat Semi Bold"), local("Montserrat-SemiBold"), url('/fonts/Montserrat-SemiBold.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-SemiBold.woff') format("woff"), url('/fonts/Montserrat-SemiBold.ttf') format("truetype"), url('/fonts/Montserrat-SemiBold.otf') format("otf")
	font-weight: 600
	font-style: normal


//@font-face
//	font-family: 'Montserrat Hairline'
//	src: url('/fonts/Montserrat-Hairline.eot')
//	src: local("Montserrat Hairline"), local("Montserrat-Hairline"), url('/fonts/Montserrat-Hairline.eot?#iefix') format("embedded-opentype"), url('/fonts/Montserrat-Hairline.woff') format("woff"), url('/fonts/Montserrat-Hairline.ttf') format("truetype"), url('/fonts/Montserrat-Hairline.otf') format("otf")
//	font-weight: 200
//	font-style: normal