.text-left
	text-align: left

.text-center
	text-align: center

.text-right
	text-align: right

.v-a-m
	vertical-align: middle

.color--brand
	color: $main-green

.no-top-margin
	margin-top: 0 !important

.grey-text
	color: $dark-grey

@media all and (max-width: 991px)
	.no-top-margin-mobile
		margin-top: 20px !important

@for $i from 1 through 10
	.m-t-#{$i*5}
		margin-top: #{$i*5}px

	.m-b-#{$i*5}
		margin-bottom: #{$i*5}px

	.m-l-#{$i*5}
		margin-left: #{$i*5}px

	.m-r-#{$i*5}
		margin-right: #{$i*5}px

@media all and (max-width: 767px)
	@for $i from 1 through 5
		.m-sm-t-#{$i*5}
			margin-top: #{$i*5}px

		.m-sm-b-#{$i*5}
			margin-bottom: #{$i*5}px

		.m-sm-l-#{$i*5}
			margin-left: #{$i*5}px

		.m-sm-r-#{$i*5}
			margin-right: #{$i*5}px

.spaced
	width: 20px
	display: inline-block

@media all and (max-width: 450px)
	.m-center
		text-align: center
		a
			margin-bottom: 10px
	.spaced
		width: 0

