body.page-pick
	.cart-selection
		padding: 5px
		margin-bottom: 10px
		display: block

		.cart-selection_item
			float: left

			&.cart-selection_code
				width: 20%

			&.cart-selection_name
				width: 60%

			&.cart-selection_action
				width: 20%
				text-align: right

	.new_vitamin_item
		.description
			display: block !important