body.page-pick
	.cart-selection
		padding: 5px
		margin-bottom: 10px
		display: block

		.cart-selection_item
			float: left

			&.cart-selection_code
				width: 20%

			&.cart-selection_name
				width: 60%

			&.cart-selection_action
				width: 20%
				text-align: right

	.new_vitamin_item
		.description
			display: block !important

		.button
			transition: opacity .2s

			&.faded
				opacity: 0.5

.pick-n-mix-flex
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: space-between

	.flex-vitamin
		width: 49%

@media all and (max-width: 767px)
	.pick-n-mix-flex .flex-vitamin
		width: 100%