$main-green: #88E2C4
$main-green-dark: #3AAC87
$greyish-brown: #555555
$white: #ffffff
$dark-grey: #333333
$warm-grey: #777777
$greyish: #aaaaaa
$light-grey: #cccccc
$lighter-grey: #dddddd
$lightest-grey: #eeeeee
$warmer-grey: #888888
$bottom-grey: #e5e5e5
$pale-grey: #f3f6f8
$pale-grey-border: #e5e9ec
$almost-white: #f5f5f5
$hr-dashed-color: #eeeff3
$dark-sea-green: #33786a
//$dark-sea-green: #11834e
$pinkish-grey: #bbbbbb
$error-color: #AA1118
$yellow-color: #9caa2a

$weight-light: 300
$weight-default: 400
$weight-semibold: 500
$weight-bold: 600

@import '_normalise'
@import '_grid'
@import '_helpers'
@import '_fonts'
@import '_defaults'
@import '_sprites'
@include sprites($spritesheet-sprites)
@include retina-sprites($retina-groups)
@import '_datepicker'
@import '_sweetalert'
@import '_landing'
@import '_elements'
@import '_account'
@import '_checkout'
@import '_flow'
@import '_cms'
@import '_gifting'
